#portfolio .btn{
    display: block;
    position: relative;
    margin: 1rem auto;
    max-width: 400px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--gray2);
    padding: 0;
    border: none;
    cursor: zoom-in;
}

#portfolio img {
    display: block;
    max-height: 300px;
    transition: transform ease .3s;
}

#portfolio button:hover img {
    transform: scale(1.25);
}


#portfolio button:before {
    content: '';
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: opacity ease .3s;
    opacity: 0;
}

#portfolio .btn:hover:before {
    opacity: 0.75;
}

#portfolio h4 {
    display: block;
    margin: 0;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: var(--white);
    opacity: 0;
    transition: bottom ease .3s, opacity ease .3s;
}

#portfolio .btn:hover h4 {
    bottom: 30%;
    opacity: 1;
}

#portfolio .btn:after {
    content: url('../img/icons/zoom.svg');
    width: 50%;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0%;
    transform: translate(-40%, -50%); 
    opacity: 0;
    transition: top ease .3s, opacity ease .3s;
}

#portfolio .btn:hover:after {
    top: 40%;
    opacity: .75;
}


.flex{
	width: 100%;
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.primer{
    
        width: 100%;
        height:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
}
.modal{
	display: none;
	position: fixed;
	z-index:999;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);
    overflow: hidden;
}

.contenido-modal{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	width: 30%;    
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: 1s;
    overflow: hidden;
}
@keyframes modal{
	from{top:-330px; opacity:0;}
	to{top:0; opacity:1;}
}
.close{
    margin-right: 45px;
	color: #f2f2f2;
	font-size:30px;
	font-weight: bold;
}
.close:hover{
	color:#7f8c8d;
	text-decoration: none;
	cursor: pointer;
}


.modal-header, .footer{
	padding: 8px 16px;
	background: linear-gradient(var(--primary),var(--primary-dark));
	color:#f2f2f2;
}

p{
    
	text-align: justify;
}

.modal-body{
	padding: 20px 16px;
}

@media screen and (max-width:1200px){
	.contenido-modal{
		width: 85%;
	}
	.textos{
		padding: 150px;
	}
    .contenido-modal{
        display: flex;
        flex-direction: column;        
    }
    .container-moda-body{
        display: flex;
        flex-direction: row;
    }
    .textos{
        
		padding: 150px;
	}
    p{
        
        text-align: justify;
    }

}
@media screen and (max-width:900px){
	.contenido-modal{
		width: 70%;
	}
    .contenido-modal{
        height: 85vh;
        width: 85vw;
    }
	.textos{
       
		padding: 150px;
	}
    p{        
        text-align: justify;
    }
}

@media screen and (max-width:500px){
    .footer-button{
        background-color: var(--secondary);
        color: var(--white);
        margin: 3rem;        
        padding: 1rem;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color .3s ease;
       
    }
    
    .footer-button:hover {
        background-color: var(--secondary-dark)
    }
    
	.textos{
        
		padding:50px;
	}  
    .modal-header{
        margin-bottom: 9rem;
    }
    .modal-header{
        height: 80px;
    }
    .contenido-modal{
        height: 85vh;
        width: 85vw;
    }
    .container-moda-body{
        display: flex;
        flex-direction: column;  
        margin-top: -20px;      
    }
    p{
        
        text-align: justify;
    }
    .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-body img {
        margin-top: -120px;
        width: 80%;        
        /* margin-left: -.25rem; */
    }
    .footer {
       position: relative;
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        
        
    }
    .footer-button{              
        height: 30px;
        width: 150px;
        border-radius: 4px;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.2rem;               
        border: 1px solid var(--white);       
        cursor: pointer;       
        text-decoration: none;
        margin: 0 auto;     
        margin-top: -15px;
        padding-top: 20px;        
    }  
}





